<!--
    Copyright (C) 2019 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <a href="/html">
            <img src="/img/hs-logo.gif" alt="Logo" height="60" width="337" />
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        ></button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/html/suche" class="nav-link">
                        <i class="fas fa-search"></i>
                        <span class="ml-1">Suche</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/html/neues-buch" class="nav-link">
                        <i class="fas fa-book"></i>
                        <span class="ml-1"> Neues Spiel</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <div
                        class="nav-link dropdown-toggle"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="fas fa-chart-bar"></i>
                        <span class="ml-1"> Diagramme</span>
                    </div>

                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a href="/html/balkendiagramm" class="dropdown-item">
                            <i class="fas fa-chart-bar"></i>
                            <span class="ml-1"> Balkendiagramm</span>
                        </a>

                        <a href="/html/liniendiagramm" class="dropdown-item">
                            <i class="fas fa-chart-line"></i>
                            <span class="ml-1"> Liniendiagramm</span>
                        </a>

                        <a href="/html/tortendiagramm" class="dropdown-item">
                            <i class="fas fa-chart-pie"></i>
                            <span class="ml-1"> Tortendiagramm</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
